<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>filter 过滤器</title>

    <script src="https://cdn.bootcss.com/vue/2.3.4/vue.min.js"></script>
  </head>
  <body>
    <div id="app">
      <p>
        <label>单价</label>
        <input type="text" v-model="price"/>
      </p>
      <p>
        <label>数量</label>
        <input type="text" v-model="num"/>
      </p>
      <p>
        <span>{{ total | discount }}</span>
      </p>
    </div>

    <script type = "text/javascript">
      var vm = new Vue({
          el: '#app',
          data: {
            price: '',
            num: ''
          },
          computed: {
            total: function () {
              return this.price * this.num
            }
          },
          filters: {
            discount: function(value) {
                return value.toFixed(2)
            }
          }
      })
    </script>
  </body>
</html>
